body{
  margin: 0px;
  height: 100vh;
}

.container{
    display: flex;
    height: 100%;
}
.col-6{
  width: 50%;
  display: flex;
  justify-content: end;
  margin-right: 5px;
  align-items: center;
}
.secondCol{
  flex-direction: column;
  margin-left: 5px;
  justify-content: center;
  align-items: start;
}
.left{
    flex: 1;
}

.right{
    font-family: 'Poppins';
}


.img {
    width: 75%;
    
  }

  h1{
    margin-left: 30px;
    margin-top: 15px;
    color: #a262f3;
    font-family: 'Poppins';
  }
  h5{
    margin-left: 30px;
    color: #a262f3;
    font-family: 'Poppins';
    margin-bottom: 0%;
  }

  /* div{
    
    margin-right: 200px;
  } */
  
  input[type="text"] {
    width: 65%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
  }
   
/* 
  #username{
    margin-top: 175px;
  } */

  input[type="password"] {
    width: 65%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
  }
input:focus{
  outline: none;
}
  input[type="submit"] {
    width: 67%;
    border: thin;
    border-radius: 18px;
    background-color: #cdaaf8;
    height: 2.5em;
    cursor: pointer;
  }